@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-black-italic-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-black-italic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-black-webfont.woff2") format("woff2"),
    url("fonts/gilroy-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-bold-italic-webfont.woff2") format("woff2"),
    url("fonts/gilroy-bold-italic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-bold-webfont.woff2") format("woff2"),
    url("fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-italic-webfont.woff2") format("woff2"),
    url("fonts/gilroy-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-light-italic-webfont.woff2") format("woff2"),
    url("fonts/gilroy-light-italic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-medium-italic-webfont.woff2") format("woff2"),
    url("fonts/gilroy-medium-italic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-medium-webfont.woff2") format("woff2"),
    url("fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-thin-italic-webfont.woff2") format("woff2"),
    url("fonts/gilroy-thin-italic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "gilroy";
  src: url("fonts/gilroy-thin-webfont.woff2") format("woff2"),
    url("fonts/gilroy-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@media only screen and (max-width: 720px) {
  .navbar {
    width: 100vw;
  }
  .content {
  }
  #social-row {
    margin-top: 10vh;
    padding-bottom: 4.2vh;
    margin-left: calc(50% - (75% / 2));
  }
  #garland {
    width: 20vw;
    top: -12.2vw;
    
  }

.border-leaves#left {
  width: 0px;
}
}

@media only screen and (min-width: 720px) and (max-width: 1080px) {
  .navbar {
    position: fixed;
    width: 32vw;
    z-index: 2;
  }
  .content {
    top: 0;
    width: 68vw;
    position: absolute;
    left: 32vw;
    z-index: 1000;
  }
  #social-row {
    position: absolute;
    bottom: 4vh;
    left: calc(50% - (75% / 2));
  }
  #garland {
    left: 31.2vw;
    width: 6.7vw;
    top: -4.1vw;
  }

.border-leaves#left {
  left: 31.2vw;
}
}

@media only screen and (min-width: 1080px) {
  .navbar {
    position: fixed;
    width: 26vw;
    z-index: 2;
  }
  .content {
    top: 0;
    width: 74vw;
    position: absolute;
    left: 26vw;
    z-index: 1000;
  }
  #social-row {
    position: absolute;
    bottom: 4vh;
    left: calc(50% - (75% / 2));
  }
  #garland {
    left: 25.4vw;
    top: -4.1vw;
    width: 6.7vw;
  }

.border-leaves#left {
  left: 25.4vw;
}
}

* {
  margin: 0;
  padding: 0;
  --primary-color: #229198;
  box-sizing: border-box;
  font-family: "gilroy";
}

/* #garland{
  position: fixed;
  top: -7.4vh;
  left: 25.5%;
  z-index: 2000;
  height: 37.5vh;
} */

#garland {
  position: absolute;
  z-index: 2000;
}
.border-leaves {
  height: 21.3vh;
  bottom: -1.01759259259259259vh;
  position: fixed;
  z-index: 2000;
}

.border-leaves#right {
  right: -0.7vw;
}
#border {
  height: 31.666666666666667vh;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 1500;
}
#border-full{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 95vh;
}

.app-bar{
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: row;
  top: 1%;
  right: 4%;
  height: 6%;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.app-bar h2{
margin-left: 12px;
  font-size: 120%;
  font-weight: 500;
}
#app-bar-item span{
  margin-top: 2px;
  font-size: 120%;
}

        .material-symbols-rounded {
          font-variation-settings:
          'FILL' 0,
          'wght' 700,
          'GRAD' 200,
          'opsz' 48
        }
#app-bar-item{
  display: flex;
  flex-direction: row;
}

.mahabharata{
  align-items: center;
  width: calc(100% + 3rem);
  height: 36%;
  background-color: #f9dcdb;
  margin-left: -1.5rem;
  margin-top: 5rem;
  display: flex;
  color: #e78e8b;
  font-size: 1.2rem;
  flex-direction: row;
}

.mahabharata h2{
font-size: 2rem;
font-weight: 700;
  color: #e17a77;
}

.mahabharata img:first-of-type{
height: calc(100% + 30px);
margin-top: -30px;
}
.mahabharata img:nth-last-child(2){
  margin-top: 8%;
  margin-right: 2%;
  height: 50%;
  bottom: 0;
  }
  .mahabharata img:last-of-type{
   height: 80%;
   margin-right: 10px;
    }

.navbar {
  height: 100%;
  background-color: #dceeef;
  transition: transform 1s;
  color: var(--primary-color);
}
.content {
  height: 100vh;
  background-color: #fff;
  box-shadow: -16px 0px 5px rgba(0, 0, 0, 0.015);
  border-radius: 1rem 0 0 1rem;
  transition: transform 1s, width 1s;
  padding: 1.5rem;
}
.hide-navbar {
  position: fixed;
  height: 40px;
  width: 40px;
  left: 275px;
  bottom: 75px;
  border-radius: 50%;
  box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.015);
  background-color: #fff;
  z-index: 1200;
  cursor: pointer;
  transition: transform 1s;
}

.navbar #logo {
  width: 1.2%;
  height: 1.2%;
  margin-right: 24px;
  cursor: pointer;
}

.navbar #brand {
  height: 25px;
  margin-top: 4px;
  cursor: pointer;
}

#logo-content {
  height: 100%;
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
}

#brand-content {
  height: 100%;
  margin-top: 4px;
  object-fit: cover;
  cursor: pointer;
}

.branding-content {
  width: 0px;
  height: 0px;
  margin-top: 0px;
  transition: width, height 500ms;
}

.row {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.profile-picture {
  width: 60%;
  cursor: pointer;
  margin-bottom: 10px;
}

.profile-picture img {
  width: 100%;
}

.navbar .profile-picture {
  margin-top: 80px;
  margin-left: 20%;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 6vh;
}

.emoji {
  height: 4.5vh;
}

#emoji-folio {
  margin-top: 3.33vh;
  justify-content: space-between;
  width: 36%;
  margin-left: 32%;
}

h3 {
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
}

h4 {
  color: #187d83;
  font-weight: bold;
  margin-top: 1vh;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social {
  width: 2.96vh;
  height: 2.96vh;
  cursor: pointer;
  transition: transform 0.5s;
}
.social:hover {
  transform: scale(1.5);
}
#social-row {
  width: 75%;
  justify-content: space-between;
}

#subtitle {
  height: 2.7vh;
}

.verified {
  margin-left: 10px;
  height: 1.25rem;
}

.branding {
  justify-content: end;
  margin-right: 10px;
  padding-top: 20px;
}

#user-metrics {
  justify-content: space-around;
  margin-top: 1.2rem;
}

#user-metric div {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

#user-metrics p {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  text-transform: capitalize;
}

#user-metrics p:last-of-type {
  font-weight: normal;
  font-size: 1.1em;
}

.nav {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: row;
}

.main-content {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
}

.story-icon .profile-picture {
  width: 72px;
  height: 72px;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
